{% extends 'base.html' %}
{% block PageTitle %}
Login Page
{% endblock PageTitle %}

{% block content %}
    {% comment %} {% include 'includes/navbar.html' %} {% endcomment %}
    <div class="card mx-5 text-center shadow p-3 mb-5 mt-5  bg-body-tertiary rounded">
        <div>
            <form action="" method="post">
                {% for field in form %}
                    <div class='form-outline mb-4'>
                        <p>{{field.label}}:<br> {{field}}</p>
                    </div>
                {% endfor %}
                {% csrf_token %}
                <div>
                    {% if messageBool %}
                        <p>message</p>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
                <div class="text-center">
                    <p>Not a member? <a href="{% url 'registration' %}">Register</a></p>
                </div>
            </form>

        </div>
    </div>
{% endblock content %}


<!-- Pills navs -->

  <!-- Pills navs -->
  
  <!-- Pills content -->
  
  <!-- Pills content -