{% extends "base.html" %}
{% block PageTitle %}
    {{dashboard|title}}
{% endblock PageTitle %}

{% block content %}
    {% include 'erpApp/includes/navbar.html' %}
    <table>
        <tr>
            <th>Semester</th>
            <th>SGPA</th>
            <th>TotalCredits</th>
        </tr>
        {% for info in infoList %}
        <tr>
            <th><a href="{% url 'dashboard' user.student.rollNo info.sem%}">{{info.sem}}</a></th>
            <th>{{info.sgpa}}</th>
            <th>{{info.totalCredits}}</th>
        </tr>
        {% endfor %}
    </table>
    <div>
        <table>
            <tr>
                <th>CGPA</th>
                <th>Total Credits</th>
            </tr>
            <tr>
                <th>{{cgpa}}</th>
                <th>{{totalCredit}}</th>
            </tr>
        </table>
    </div>
{% endblock content %}